<div *ngIf="item"><h2>
  Student: {{item.name}}
</h2>
  <div><span>Id: </span>{{item.id}}</div>

  <div>
    <label>First name:
      <input class="form-control" [(ngModel)]="item.firstName"/>
    </label>

    <label>Last name:
      <input class="form-control" [(ngModel)]="item.lastName"/>
    </label>

    <label>Email:
      <input class="form-control" [(ngModel)]="item.email"/>
    </label>

    <label>User name:
      <input class="form-control"  [(ngModel)]="item.userName"/>
    </label>


  </div>
  <button class="btn btn-primary" (click)="save()">save</button>
  <button class="btn btn-primary" (click)="goBack()">go back</button>
</div>
