<h2>Classes</h2>
<button class="btn btn-primary" routerLink="/classes-detail">Add new classes</button>
<table class="table">
  <tr *ngFor="let item of items">
    <!--<td>{{getTimeGap(item.time)}}</td>-->
    <td>{{item.room}}</td>
    <td>{{item.dayOfWeek}}</td>
    <!--<td>{{item.course.shortName}}</td>-->
    <td>
      <button class="btn btn-primary" routerLink="/students/classes/{{item.id}}">Students</button>
      <button class="btn btn-primary" routerLink="/classes-detail/{{item.id}}">Edit</button>
      <button class="btn btn-primary" (click)="delete(item)">Delete</button>
    </td>
  </tr>
</table>
