<h2>Student timetable</h2>

<div class="jumbotron">
  <app-student-enrollment (studentEnrollmentEvent)="enrollmentUpdated($event)"></app-student-enrollment>
</div>

<table class="table" border="1px">
  <tr>
    <td></td>
    <td *ngFor="let time of timetableHours">
      {{time.value}}
      <!--{{getEnrolledSubjects(day, time)}}-->
    </td>
  </tr>
  <tr *ngFor="let day of days">
    <td>{{day}}</td>
    <td *ngFor="let time of timetableHours">
      <span *ngIf="getEnrolledSubjects(day, time.name)">
        <!--todo optimalizace - nabindování do proměnné a následné její využití -->
        <a routerLink="/classes-detail/{{getEnrolledSubjects(day, time.name).classes.course.id}}">
          {{getEnrolledSubjects(day, time.name).classes.course.shortName}}
        </a>
        {{getEnrolledSubjects(day, time.name).classes.room}}
      </span>

    </td>
  </tr>
</table>

