<h2>Students</h2>
<button class="btn btn-primary" routerLink="/student-detail">Add new student</button>
<table class="table">
  <tr *ngFor="let item of items">
    <td>{{item.id}}</td>
    <td>{{item.firstName}} {{item.lastName}}</td>
    <td>{{item.email}}</td>
    <td>{{item.userName}}</td>
    <td>
      <button class="btn btn-primary" routerLink="/student-timetable/{{item.id}}">Timetable</button>
      <button class="btn btn-primary" routerLink="/student/enrolled/{{item.id}}">Classes</button>
      <button class="btn btn-primary" routerLink="/student-detail/{{item.id}}">Edit</button>
      <button *ngIf="item.isActive" class="btn btn-danger" (click)="delete(item)">Delete</button>
      <button *ngIf="!item.isActive" class="btn btn-info">Deleted</button>
    </td>
  </tr>
</table>
